@import '../../node_modules/modern-normalize/modern-normalize.css';
@import '../../node_modules/html5-reset/assets/css/reset.css';

html {
  overflow: hidden !important;
}

a {
  color: #0065fc;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.button {
  padding: 0.60rem 1.75rem;
  background-color: #0065fc;
  color: #fff;
  border-radius: 0.15rem;
}
